body
{
    font-family: Tahoma;

}
    

.top{
    background-color: #2eb5e5;
    height: 40px;
}
.main-content{
    position: relative;
    z-index: 1;
}
.main-header{
    position: relative;
    z-index: 99999;
}
.headInfo{
    background-color: #2eb5e5;
    text-align: center;
    font-size: 18px;
    color: white;
}
.redBG .test{
    background-color: rgba(124, g412een, blue, .5);
    box-shadow: 
}
.znajdziesz
{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
.banner 
{
    height: 165px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
.nav
{
    text-align: right;
    font-size: 30px;
    padding-top: 2em;
    padding-bottom: 2em;
}
.menu li
{
    display: inline;
    padding: 0;
    border-right: 2px solid #2eb5e5 ;
    margin: 0;
}
.menu li:last-child
{
    border-right: none !important;
}
.menu li a 
{
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
}
.menu li a:hover
{
    color:white !important;
    background-color: #2eb5e5 !important;
}
.flex
{
   display: flex;
   justify-content: space-between;
   /* align-items: center; */

}
.logo
{
    align-items: center;
    display: flex;
    
    
}
.navbar-brand img
{
    width: 80%;
}
.menu
{
    display: flex;
    font-size: 30px;
    align-items: center;
}
.navigation
{
   padding-right: 0 15px;
   margin: 0;
   padding: 0; 
   display: flex;
   flex-wrap: wrap;
}
.slideritem
{
    height: 44.792vw;
    width: 100%;
    /* background-image: url("../img/slider1.png"); */
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider
{
    position: relative;
    display: block;
}
.zapewniki
{
    /* height: 200px; */
    background-color: rgba(46,181,229, 0.8);
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;


}
.tekst
{
    color: white;
    font-size: 5vw;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.25vw;; 
    height: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.sliderContent--left{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: calc(100% - 200px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderContent--right{
    position: absolute;
    top: 0px;
    right: 0px;
    height: calc(100% - 200px);
    cursor: pointer;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderContent--right:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
.sliderContent--left:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.test
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}
.flexzap
{
    /* display: flex;
    justify-content: space-between;
    justify-content: center; */
    align-items: center; 
    font-size: 28px;
    color: white;
    text-align: center;
    display: flex;
    height: 200px;
    text-shadow: -20px 20px 18px 0px rgba(0, 0, 0, 0.2);
}
.textzap
{
    text-shadow: -2px 2px 11px #000000;
}
.textslider
{
    text-shadow: -2px 2px 11px #000000;
}



.iconzap 
{
    /* display: flex; */
    justify-content: center;
    margin-top: 10px;
}
.onas
{
    font-size: 47px;
    color: #2eb5e5;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;

}
.textonas
{
    font-size: 17px;
    color: grey;
}
.offerdiv
{
    margin-top: 40px;
    background-image: url("../img/tex.jpg");
    width: 100%;
    height: 755px;
}
.offertitle
{
    font-size: 47px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 20px;
    
}
.kafel
{
    display: block;
    width: 450px;
    height: 80px;
    background-color: rgba(46,181,229, 0.7);
    border-radius: 20px; 
    font-size: 24px;
    color:white;
    text-align: center;
    font-weight: bold;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    margin-bottom: 10px;
    transition: opacity 2s;
    text-decoration: none;

}
.kafel:hover
{
    background-color: #2eb5e5;
    text-decoration: none;
    width: 570px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}
.kafel:active
{
    background-color: #2eb5e5;
    text-decoration: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}
.kafel:focus
{
    background-color: #2eb5e5;
    text-decoration: none;
    width: 570px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.tabtext
{
    height: 530px;
    width: 570px;
    background-color: white;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.offertextarea
{
    margin-top: 20px;
    margin: 20px;
    margin-bottom:20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.animacja
{
    margin-top: 30px;
    display:flex;
}
.kafle
{
    width: 570px;
}
.nav
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    width: 570px !important;
    border: none;

}
.galerytitle
{
    font-size: 47px;
    color: #2eb5e5;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.galeria
{
    width: 100%;
    
    display: flex;
}
.obrazek
{
    max-width: 100%;
    height: auto;
}
.drugie
{
    display: flex;
}
.trzecie
{
    display: flex;
}
.galery
{
    width: 100%;
}
.contact
{
    margin-top: 40px;
    background-image: url("../img/tex.jpg");
    width: 100%;
    padding-bottom: 40px;
 
}
.contacttitle
{
    font-size: 47px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
}
.stopka
{
    background-color: #2eb5e5;
    text-align: center;
    font-size: 18px;
    color: white;
    width:100%;
    height: 30px;
}
.googlemaps
{
    width: 100%;
    height: 400px;
}
.formularz
{
    text-align: center;
    margin-top: 40px;

}
.pole
{
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 35px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border: none;
}
#poletekstowe
{
    width: 500px;
    height: 200px;
    border-radius: 15px;
    border: none;
}
.wyslij
{
    
}
.form-control
{
    border-radius: 20px;
    width: 171.6px !important;
    margin-right: 20px;
    margin-bottom: 30px;
}
.form-inline .form-control:nth-child(3){
    margin-right: 0;
}
.form-inline button
{
    
    font-weight: bold;
    border-radius: 20px;
    width: 100px;
}
.form-inline textarea
{
    width: 100% !important;
    height: 200px;
    border-radius: 15px;
    border: none;
    resize: none;
}
.form-group
{
    margin-top: 30px;
}
.adres
{
    text-align: center;
    margin-top: 20px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.adrescont
{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.adrescontcd
{
    font-size: 15px;
    color: white;
}
.fb
{
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: left;
    width: 260px;
    
  
    
}
.fb img
{
    justify-content: flex-end;
}
.facebook
{
    
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.facebook h2
{
 
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.fbicon
{
    flex-wrap:wrap;
    display: flex;
    
    
    
}
iframe
{
    width: 100%;
    height: 500px;
}
.navbar{
    border-radius: 0px;
    box-shadow: 1px 3px 20px 0px #0000001a;
}

@media screen and (max-width: 1199px){
    .tabtext{

    }
    /* .flexzap{
        font-size: 24px;
    } */
    .flexzap img{
        width: 10vw;
        height: 10vw;
    }
    .flexzap p{
       font-size: 2vw;
    }
    .flexzap{
        height: 100%;
    }
    .form-control{
        width: 300px !important;
    }
    
   

}
@media screen and (max-width: 991px){
    .nav{
        width: 400px !important;
    }
    /* .flexzap{
        font-size: 20px;
    } */
    .kafel{
        width: 280px;
        font-size: 22px;
        padding-top: 1em;
        padding-bottom: 1em;
        height: auto;
        
    }
    .nav .kafel:last-child{
        margin-bottom: 0px;
    }
    .nav .kafel:last-child:hover{
        height: 106px;
        width: 400px;
        
        
    }
    .nav .kafel:last-child:focus{
        height: 106px;
        width: 400px;
        
        
    }
    .form-control {
        width: 226.6px !important;
    }
    .zapewniki .container {
        width: auto !important; 
    }
    .tekst
    {
        margin-top: 2vw;
    }
   

}
@media screen and (max-width: 767px){
    .form-control {
        width: 100% !important;
    }
    .kafle{
        width: 100%;

    }
    .nav {
        width: 100% !important;
    }
    .kafel{
        width: 100%;

    }
    .kafel:hover
    {
        width: 100%;
        color: white;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(46,181,229, 0.7);
    }
    .nav .kafel:hover:last-child {
        width: 100%;
        color: white;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(46,181,229, 0.7);
        height: 80px;
    }
    .nav .kafel:last-child:focus{
        height: 106px;
        width: 100%;
    }
    .flexzap img{
        width: 10vw;
        height: 10vw;
        margin-top: -10px;
    }
    .flexzap p{
       font-size: 2vw;
    }
    .znajdziesz
    {
        font-size: 11px;
    }
    .tekst
    {
        margin-top: 2vw;
        height: initial;
    }
    .textzap
    {
        margin-bottom: 5px;
    }
    .navbar-brand img {
        width: 50%;
        transition: width .5s;
    }
}

